<div data-mark="0" data-id="@Model.BookID" data-votes="@Model.Votes" data-double-avg="@Model.RatingDecAvg" data-int-avg="@Model.RatingIntAvg" class="rate_widget no_vote">
    <div class="star_1 ratings_stars"></div>
    <div class="star_2 ratings_stars"></div>
    <div class="star_3 ratings_stars"></div>
    <div class="star_4 ratings_stars"></div>
    <div class="star_5 ratings_stars"></div>
</div>
<div class="rate_info">
    <div class="total_votes" id="total_votes">vote data</div>
</div>
